<div class="container text-center banner">
    <h1>@Title</h1>
    <p>@Description</p>
</div>


@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string Description { get; set; }
}
