<header id="header">
    <div id="header-brand">
        <h1>
            <img src="/icon-192.png">
            <a href="/">PixelSentinel</a>
        </h1>
    </div>
    <div id="header-search">
        <i class="fas fa-search" />
        <input type="text" placeholder="Search...">
    </div>
    <div id="header-nav">
        <a href="/counter">
            <div class="menu-item red">
                <i class="fas fa-plus" />
            </div>
        </a>
        <a href="account">
            <div class="menu-item">
                <i class="fas fa-user" />
            </div>
        </a>
    </div>
</header>
<div>

</div>